@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #D97706;
  --secondary-color: #1E293B;
}

body {
  @apply bg-white text-slate-900 font-sans dark:bg-slate-900 dark:text-white transition-colors duration-300;
}